@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-stack {
  background: rgb(247, 37, 133);
  background: -moz-linear-gradient(
    90deg,
    rgba(247, 37, 133, 1) 0%,
    rgba(72, 12, 168, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(247, 37, 133, 1) 0%,
    rgba(72, 12, 168, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 37, 133, 1) 0%,
    rgba(72, 12, 168, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f72585",endColorstr="#480ca8",GradientType=1);
  transition: all ease 0.5s;
  cursor: pointer;
  color: white;
}
.bg-stack:hover {
  background: white;
  color: rgb(247, 37, 133);
  color: -moz-linear-gradient(
    90deg,
    rgba(247, 37, 133, 1) 0%,
    rgba(72, 12, 168, 1) 100%
  );
  color: -webkit-linear-gradient(
    90deg,
    rgba(247, 37, 133, 1) 0%,
    rgba(72, 12, 168, 1) 100%
  );
  color: linear-gradient(
    90deg,
    rgba(247, 37, 133, 1) 0%,
    rgba(72, 12, 168, 1) 100%
  );
}
.bg-projects {
  background: rgb(72, 149, 239);
  background: -moz-linear-gradient(
    90deg,
    rgba(72, 149, 239, 0.9025735294117647) 0%,
    rgba(58, 12, 163, 0.9137780112044818) 43%,
    rgba(181, 23, 158, 0.8633578431372549) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(72, 149, 239, 0.9025735294117647) 0%,
    rgba(58, 12, 163, 0.9137780112044818) 43%,
    rgba(181, 23, 158, 0.8633578431372549) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(72, 149, 239, 0.9025735294117647) 0%,
    rgba(58, 12, 163, 0.9137780112044818) 43%,
    rgba(181, 23, 158, 0.8633578431372549) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4895ef",endColorstr="#b5179e",GradientType=1);
}
.timeline {
  height: 300px;
  width: 5px;
  background-color: #e5e5e5;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
